<!DOCTYPE html>
<html ng-app='ShoppingListAddApp'>
  <head>
    <meta charset="utf-8">
    <title>Angular JS</title>
    <script src="../script/angular.js"></script>
    <script src="service.js"></script>
  </head>
  <body>
    <div ng-controller='ShoppingListAddController as itemAddr'>
      <input type="text" ng-model="itemAddr.itemName" placeholder="item name">
      <input type="text" ng-model="itemAddr.itemQuantity" placeholder="quantity">
      <button ng-click="itemAddr.addItem();">Add Item to Shopping List</button>
    </div>
    <div ng-controller='ShoppingListShowController as showList'>
      <ol>
        <li ng-repeat="item in showList.items">
          {{ item.quantity }} bags of {{ item.name }}
          <button ng-click="showList.removeItem($index);">Remove Item</button>
        </li>
      </ol>
    </div>
  </body>
</html>
